{% extends 'base.html' %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1 class="home-logo-font text-white m-5">Blog Posts</h1>
{% for post in posts %}
<div class="row m-5 bg-white">
    <div class="col-12 px-4 py-2">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <hr>
    </div>
</div>
{% endfor %}
{% endblock %}